{% extends "base.html" %}
{%- block title -%}{{ error.description }}{%- endblock -%}

{% block head %}
  {{ super() }}
{% endblock head %}

{% block content %}

<h1>404: The HTML version of the article does not exist</h1>
<p>An error has occured with the HTML conversion of the article.
  If this problem persists, please contact
  <a href="mailto:help@arxiv.org">help@arxiv.org</a> explaining the
  circumstances of this error and quoting both the URL of this page in the
  referring page.</p>

<hr>
<p><i>The following is a log of the conversion process.</i></p>
<p>Thanks in advance for error reports; and apologies for any
  inconvenience that the malfunctioning of arXiv.org may cause.</p>
<pre>{{ log }}</pre>

{%- endblock -%}
